:root{
	--dark-blue: #17252A;
	--mid-blue: #2B7A78;
	--normal-blue: #3AAFA9;
	--light-blue: #DEF2F1;
	--white-blue: #FEFFFF;
}

html{
	scroll-behavior: smooth;
	box-sizing: border-box;
}

nav{
	box-sizing: border-box;
}

body{
	font-family: Helvetica, Arial;
    background-color:#f6f5f5;
    margin:0px;
    padding:0px;
}
body.no-scroll{
	overflow: hidden;
}

ul{
    list-style:none;
}

a{
    text-decoration:none;
}

section{
    width:100%;
    height:95vh;
    background-image:url("../images/bg.png");
    background-size:cover;
    background-repeat:no-repeat;
    position: relative;
}

main > section:last-of-type {
	height: auto;
}

button, a{
	cursor: pointer;
}

main > section:nth-child(2){
	height: auto;
	margin-bottom: 80px;
}

header{
	width: 100%;
    position: fixed;
    z-index: 999;
    margin-bottom: 75px;
}

main{
	padding-top: 80px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items:center;
    height:100px;
    background-color:#ffffff;
    background-color: var(--normal-blue);
    box-shadow:2px 2px 12px rgba(0,0,0,0.2);
    padding: 0px 5%;
}

.logo{
    color:#000000;
    font-size: 22px;
}

.logo img{
	width: 100px;
	/* filter: drop-shadow(1px 1px 10px black); */
}

nav ul{
    display: flex;
}

.toggle{
    display: none;
}
 
nav ul li {
	margin:5px;
}

nav ul li a{
	padding: 10px 20px;
    color:#505050;
	color: var(--dark-blue);
    font-size: 15px;
    font-weight:700;
}

nav ul li a.active, nav ul li a:hover{
	padding: 10px 20px;
	border-radius: 20px;
    color: var(--white-blue);
    background-color: var(--dark-blue);
    font-weight:bold;
}

.model{
	height:530px;
	position:absolute;
	bottom:40px;
	left:75%;
	transform: translateX(-75%);
}
.intro p:nth-child(1){
	font-family: calibri;
	font-weight:bold;
	color:#6d6d6d;
	font-size:22px;
}
.intro p:nth-child(2){
	font-family:calibri;
	font-weight:bold;
	letter-spacing:1px;
	color:#1a1a1a;
	font-size:60px;
	
}
.intro p:nth-child(3){
	color: #403e3e;
	font-size:30px;
	line-height:30px;
}
 
.intro p{
	margin:45px 0px 25px;
	line-height:0px;
}

.intro button{
	width:130px;
	height:42px;
	border-radius:10px;
	font-family:calibri;
	font-weight:bold;
	font-size: 14px;
	outline:none;
	margin:0px 10px;
	
}

.intro{
	position: absolute;
	left:13%;
	top:42%;
	transform:translate(-13%,-42%);
}

.skills-btn{
	border:2px solid #373636;
	background-color:transparent;
}

.skills-btn a{
	color:#373636;
}

.projects-btn{
	background-color:var(--dark-blue);
	border:none;
}

.projects-btn a{
	color:#fff;	
}

button:active{
	transform:scale(0.9);
}

.about-me{
	display: flex;
	position: relative;
	justify-content:space-evenly;
	align-items: center;
	width:80%;
	min-height:400px;
	height: auto;
	margin: -7%  auto 20px auto;
	padding: 30px 0px;
	border-radius:20px 0;
	background:#ffffff;
	box-shadow:2px 2px 12px rgba(0,0,0,0.2);
	transform: skewY(-5deg);
}

.about-me img{
	height:250px;
	border-radius: 20px;
	transform: skewY(5deg);
}

.about-me-text{
	width:500px;
	transform: skewY(5deg);
} 

.about-me-text p:nth-child(1){
	color:#403e3e;
	font-weight:bold;
	font-size:23px;
	line-height:0px;
}
.about-me-text p:nth-child(2){
	color:#3e3d3d;
	font-size:13px;
	font-weight:bold;
	line-height:5px;
}
.about-me-text p:nth-child(3),.about-me-text p:nth-child(4){
	color:#7e7d7d;
	font-family:calibri;
	font-size:16px;
}
.about-me-text button{
	width:120px;
	height: 40px;
	color:#ffffff;
	outline:none;
	border:none;
	font-family: calibri;
	background-color:#262525;
}

.projects{
	height:auto;
	background-color:#ffffff;
	padding: 2% 10% 0px 10%;
}
.projects-text p:nth-child(1){
	font-family: calibri;
	font-weight:bold;
	color:#1d1c1c;
	font-size:30px;
	line-height:0px;
}

.projects-text p:nth-child(2){
    font-family:calibri;
    color:#7e7d7d;
}
.projects-text{
	width: 500px;
	margin:50px auto;
	text-align: center;
}
.projects-container{
	display:flex;
	justify-content:center;
	flex-wrap: wrap;
	gap: 20px;
	margin-bottom: 50px;
}
.project{
	position: relative;
	width: 350px;
	height: 320px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	box-shadow:2px 2px 18px rgba(0,0,0,0.3);
	margin: 0px 4px;
	border-radius: 20px;
	overflow: hidden;
}

.project > div{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow-y: hidden;
	width: 100%;
	height: 0;
	border-radius: inherit;
	text-align: center;
	transition: height .2s ease-out;
	background-color: var(--dark-blue);
}

.project.show > div{
	height: 100%;
	background-image: url('../images/services-1.png');
	/* transition: height 3s; */
}

.project span{
	width:40px;
	height:40px;
	border-radius:50%;
	background-color:#ffffff;
	display: flex;
	justify-content: center;
	align-items:center;
	font-family: calibri;
	font-weight: bold;
}

.project > span{
	position: absolute;
	width: 100%;
	bottom: 0;
	color: white;
	background-color: var(--dark-blue);
	border-radius: 0 0 20px 20px;
	transition: height .3s;
}
.project > span > i{
	margin-left: 10px;
}
.project.show > span{
	height: 0;
	overflow: hidden;
}

.project p:nth-child(2){
	color:#FFFFFF;
	font-family: calibri;
	font-size: 23px;
	line-height:20px;
}
.project p:nth-child(3){
	font-family: calibri;
	color:#8F8F8F;
	text-align:center;
	width: 230px;
	margin:0px 0px 20px 0px;
}
.project button{
	width:100px;
	height:30px;
	background-color:#FFFFFF;
	border:none;
	outline: none;
	border-radius:5px;
}

.modal {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: rgba(0, 0, 0, 0.5);
	opacity: 0;
	visibility: hidden;
	transform: scale(1.1);
	transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content {
	position: absolute;
	width: 90%;
	height: 85%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	padding: 2rem 1.5rem;
	border-radius: 0.5rem;
	overflow: hidden;
}
.modal-content > div::-webkit-scrollbar {
	display: none;
}
.modal-content > div {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	overflow-y: scroll;
	height: 100%;
	flex-shrink: 0;
}

.modal-content > div > p{
	max-width: 500px;
    text-align: left;
}

.modal-content > div > a{
	color: white;
	background-color: var(--mid-blue);
	border-radius: 20px;
	padding: 10px 20px;
	margin-bottom: 10px;
}

.modal-content > div > span.btm{
	color: orange;
}

.modal-content > div > div.project-images{
	display: flex;
	justify-content: space-between;	
	flex-shrink: 0;
	gap: 10px;
	width: 60%;
	overflow-x: scroll;
}

.modal-content > div > p.full-description > span{
	font-weight: 700;
	font-size: 1.5rem;
	margin-bottom: 5px;
	line-height: 2rem;
}

.modal-content > div > div.project-images > div{
	position: relative;
	flex-shrink: 0;
	width: auto;
	height: 250px;
	padding: 1.5rem;
}
.modal-content > div > div.project-images > div > img{
	border-radius: 16px;
	box-shadow: 1px 1px 10px #000;
	height: 100%;
}

.modal-content > div > div.project-images::-webkit-scrollbar {
	display: none;
}
.close-button {
	float: right;
	width: 1.5rem;
	line-height: 1.5rem;
	text-align: center;
	cursor: pointer;
	border-radius: 0.25rem;
	background-color: lightgray;
}
.close-button:hover {
	background-color: darkgray;
}
.show-modal {
	opacity: 1;
	visibility: visible;
	transform: scale(1.0);
	transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
	z-index: 999999;
}

footer{
	height:300px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	background-color: var(--normal-blue);
}

footer p{
	font-family: calibri;
}

footer p:nth-child(1){
	font-size: 30px;
	font-weight:bold;
	color:var(--dark-blue);
	line-height:10px;
}

footer p:nth-child(2){
	font-size: 16px;
	color:var(--white-blue);
	width:600px;
	text-align: center;
}

.socials a{
	width:40px;
	height:40px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color:var(--white-blue);
	margin:20px 10px;
	border-radius:50%;
}
.socials{
	display: flex;
	
}
.socials i,.side-social i{
	color:#000000;
}
.socials a:hover{
	background-color:var(--dark-blue);
	box-shadow:2px 2px 12px rgba(0,0,0,0.2);
	transition:all ease 0.5s;
}
.socials a:hover i,
.side-social a:hover i{
	color:#FFFFFF;
	transition:all ease 0.5s;
}
 
.copyright{
	color:#565555;
	font-size: 12px;
	position: absolute;
	left:50%;
	bottom:10px;
	transform: translateX(-50%);
}
.side-social{
	position: fixed;
	top:50%;
	right:0px;
	transform:translateY(-50%);
}
.side-social a{
	display: flex;
	justify-content: center;
	align-items: center;
	width:50px;
	height:50px;
	margin:0px;
	padding: 0px;
	line-height:0px;
	background-color:#FFFFFF;
	border:1px solid #CBCBCB;
	box-shadow:2px 2px 12px rgba(0,0,0,0.2);
}
.side-social a:hover{
	background-color:#000000;
	transition:all ease 0.5s;
}
.side-social i{
	font-size:20px;
	color:#2B2B2B;
}

form input{
    box-sizing: border-box;
}
fieldset{
    border:0;
}
form {
	margin: 0 auto;
    width: 600px;
}

section#contact{
    margin: 0 auto;
    width: 80%;
    text-align: center;
}

section#contact h2{
    text-align: center;
}

section#contact form{
    margin: 0 auto 40px;
    width: 600px;
}

section#contact input#mail,
section#contact select#ps5-type,
section#contact input#name{
    
    width: 100%;
    height: 40px;
    border: 4px solid var(--dark-blue);
    margin-bottom: 5px;
    padding: 0 10px;
}

section#contact input#bezorgen,
section#contact input#afhalen{
    width: 50%;
    height: 20px;
    margin-bottom: 5px;
}

section#contact input#bezorgen,
section#contact input#afhalen{
    width: 50%;
    height: 20px;
    padding: 10px;
    border: 4px solid var(--dark-blue);
    margin-bottom: 5px;
}

section#contact button{
    width: 100%; 
    height: 40px;
    margin-top: 5px;
    padding: 0 10px;
    color: white;
    background-color: #0070cc;
    border: 4px solid #0070cc;
    transition: background-color .2s ease-in;
}

section#contact button:hover,
section#contact button:focus{
    background-color: white;
    border: 4px solid #0070cc;
    color: black;
    color: #0070cc;
    font-weight: bold;
} 

section#contact fieldset{
    width: 200px;
    text-align: right;
}

section#contact label{
    float: left;
    display: block;
}

section#contact aside{
    text-align: center;
    margin-bottom: 20px;
}

@media(max-width:1000px){
	*{
		box-sizing: border-box;
	}

	.model{
		height: 460px;
		left: 90%;
		transform: translateX(-90%);
	}
	.intro{
		top:46%;
	}
	.intro button{
		margin: 5px;
	}
	.about-me{
		width:90%;
		border-radius: 20px 0;
	}
	.about-me img{
		height: 200px;
	}
	.about-me-text{
		width: 400px;
	}
	.about-me-text p:nth-child(1){
		font-size: 20px;
	}
	.about-me-text p:nth-child(2){
		font-size: 10px;
	}
	
	.about-me-text p:nth-child(3),
	.about-me-text p:nth-child(4){
		font-size: 14px;
	}
	.projects{
		padding: 2% 5% 0px 5%;
	}
	.projects-container{
		justify-content: center;
		flex-wrap: wrap;
	}
	.projects{
		height: auto;
	}
	.project,.box-2,.box-3{
		flex-grow: 1;
		margin: 10px;
	}
	.contact-me{
		height: 200px;
	}
	.contact-me p{
		font-size: 26px;
	}
	.contact-me button{
		font-size: 14px;
		height:35px;
		width: 160px;
	}

	main > section:last-of-type{
		height: auto;
	}
}

@media(max-width:750px){

	nav{
		height: 60px;
	}

	main{
		padding-top: 40px;
	}

	.logo img{
		width: 80px;
		padding: 10px;
	}

	section{
		background-image:none;
		background-color:#f7f7f7;
	}
	.model, .side-social{
		display: none;
	}
	.toggle{
		display: block;
	}
	.intro p:nth-child(2){
		line-height: 40px;
		margin: 0px;
		padding: 0px;
		
	}
	.intro{
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		width: 80%;
	}
	nav ul{
		margin: 0px;
		padding: 0px;
		background-color: #ebeef4;
		flex-direction: column;
		position: fixed;
		left: 0;
		top: 0;
		width:100%;
		height: 100vh;
		box-sizing: border-box;
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 1;
		display: none;
		
	}
	nav ul li{
		padding: 10px;
	}
	nav ul li a{
		font-family: calibri;
		font-size: 1.4em;
		text-transform: uppercase;
		color:#5c5c5c;
	}

	.toggle:before{
		content: '\f0c9';
		font-family: fontAwesome;
		line-height: 30px;
		z-index: 1;
	}
	.toggle.active:before{
		content: '\f00d';
		position: fixed;
		right: 25px;
		line-height: 0px;
		
	}
	nav.active ul{
		display: flex !important;
	}
	.about-me{
		top: 0px;
		flex-direction: column;
		width:90%;
		height: auto;
		padding: 40px 0px;
		align-items: center;
	}
	.about-me-text{
		width:90%;
		text-align: center;
	}
	.projects-text{
		width: 100%;
	}
	.contact-me{
		height: 180px;
	}
	.contact-me p{
		font-size: 18px;
	}
	.contact-me button{
		width: 150px;
		height: 33px;
	}

	.socials{
		margin-bottom: 10px;
	}

	.copyright{
		bottom: 0px;
	}

	footer p:nth-child(2){
		width: 90%;
	}

	.project.show > div{
		padding: 0px 20px;
	}

}
@media(max-width:500px){

	.modal-content > div > div.project-images{
		justify-content: flex-start;	
		flex-shrink: 0;
		width: 100%;
	}

	.modal-content > div > div.project-images > div{
		height: 200px;
	}

	.modal-content > div > p {
		max-width: 100%;
	}
}

@media(max-width:425px){

	.intro p:nth-child(2){
		line-height: 50px;
	}
	footer p:nth-child(1){
		font-size: 25px;
	}
}